.user-detail-container {
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    
  }
  
  .user-name {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .loading {
    text-align: center;
    font-size: 1.5rem;
    color: #555;
  }
  
  .go-back-btn, .toggle-theme-btn {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: var(--text-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
  }
  
  .go-back-btn:hover, .toggle-theme-btn:hover {
    background-color: var(--primary-color-hover);
  }
  